html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/*------------------- Defaults -------------------*/

input[type="submit"], button {
	cursor: pointer;
	outline: none;
	-webkit-transition: all 250ms;
			transition: all 250ms;
}

a {
	text-decoration: none;
	color: inherit;
	-webkit-transition: all 250ms;
			transition: all 250ms;
}

video {
	display: block;
	margin: 0 auto;
}

/*------------------- Global -------------------*/

noscript {
	color: #fff;
	text-align: center;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #0f0f0f;
	font-family: 'Quicksand', sans-serif;
	color: #E2E2E2;
	line-height: 1.4;
}

#page, .page {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: inherit;
	color: inherit;
}

.centre {
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}

/*------------------- Title Page -------------------*/

.page-title {
	/*background-color: #fff;*/
	color: hsl(0, 10%, 30%);
	-webkit-animation: colour-tween 15s infinite alternate linear;
}

@-webkit-keyframes colour-tween {
	0%   { color: hsl(0, 15%, 30%); } 
	11%   { color: hsl(40, 15%, 30%); } 
	22%   { color: hsl(80, 15%, 30%); } 
	33%   { color: hsl(120, 15%, 30%); } 
	44%   { color: hsl(160, 15%, 30%); } 
	55%   { color: hsl(200, 15%, 30%); } 
	66%   { color: hsl(240, 15%, 30%); } 
	77%   { color: hsl(280, 15%, 30%); } 
	88%   { color: hsl(320, 15%, 30%); } 
	100% { color: hsl(360, 15%, 30%); }
}

.main-title {
	font-size: 40px;
	text-align: center;
	line-height: 1.1;
}

.main-title .shadow {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
}

.main-title .top-text {
	position: relative;
	z-index: 2;
}

.main-title span {
}

.main-title .word-journey{
	margin-bottom: 0.1em;
	font-size: 2.1em;
}

.main-title .word-photon {
	font-size: 3em;
}

.page-title .begin {
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	padding: 0.4em 0.7em;
	color: inherit;
	border: 2px solid #fff;
	border-color: inherit;
	border-radius: 4px;
	background-color: transparent;
	font-size: 1.3em;
	font-family: inherit;
	-webkit-transition: all 250ms;
			transition: all 250ms;
}

.page-title .begin:hover {
	-webkit-transform: scale(1.2);
			transform: scale(1.2);
}

.page-title .by-john {
	position: absolute;
	bottom: 5px;
	left: 50%;
	opacity: 0.5;
	font-size: 0.7em;
	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
}

.page-title .by-john:hover {
	opacity: 1;
}

/*------------------- Chapter Page -------------------*/

.full-screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-container {
	position: relative;
	display: block;
	margin: 0 auto;
}

video.main-video {
	position: relative;
	width: 100%;
}

.chapter-title {
	z-index: 2;
	background-color: #0f0f0f;
	text-align: center;
	color: #888888;
}

.chapter-title .chapter {
	margin-bottom: 0.4em;
	font-size: 2.5em;
	color: #414141;
}

.chapter-title .title {
	font-size: 4em;
}

button.play {
	display: inline-block;
	margin-top: 3em;
	padding: 0.1em 0.36em 0.2em;
	border: 1px solid #888888;
	background-color: transparent;
	border-radius: 60%;
	font-size: 2em;
	color: #888;
	line-height: 1;
}

button.play:hover {
	border-color: #eee;
	color: #eee;
	-webkit-transform: scale(1.1);
			transform: scale(1.1);
}