<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Journey of a Photon</title>

	<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
	<link href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/style.css" />

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js"></script>
	<script type="text/javascript" src="http://popcornjs.org/code/dist/popcorn-complete.js"></script>
</head>
<body>

	<div id="page"></div>

	<audio src="" id="music" loop>
		<p>Your browser does not support the audio element </p>
	</audio>

	<div id="templates">

		<script type="text/template" id="template-title">
			<div class="page page-title">
				<div class="centre">
					<h1 class="main-title"><div class="words">The</div> <div class="words word-journey">Journey</div> <div class="words">of a</div> <div class="words word-photon">Photon</div></h1>
					<button class="begin real-shadow">Begin</button>
				</div>
				<a href="http://www.johnevans.co" class="by-john" target="_blank">By John</a>
			</div>
		</script>


		<!-- Page Templates -->


		<script type="text/template" id="template-prologue">
			<div class="page page-prologue">
				<div class="chapter-title full-screen">
					<div class="centre">
						<h2 class="chapter">- Prologue -</h2>
						<h1 class="title">What is a Photon?</h1>
						<button class="play circle">&#9656;</button>
					</div>
				</div>
				<div class="under-title full-screen">
					<div class="centre">

						<div class="video-container">
							<video src="video/Prologue - What is a Photon.mp4" class="main-video">
								Your browser doesn't support embedded videos,
								but you can still<a href="video/Prologue - What is a Photon.mp4">download it</a>.
							</video>
						</div>
					</div>

					<div class="subtitles" id="subtitles"></div>
					
					<div class="tangents tangent-items"></div>
				</div>
				<div class="end-video full-screen">
					<div class="centre">
						<nav>
							<button class="replay circle" title="Replay">&#8635;</button>
							<button class="next circle" title="Continue">&rarr;</button>
						</nav>
						<div class="end-tangents">
							<h3>More info on</h3>
							<ul class="tangent-items"></ul>
						</div>
					</div>
				</div>
				<div class="tangent-popup full-screen">
					<div class="cover full-screen close-tangent-popup"></div>
					<div class="box centre">
						<button class="close-tangent-popup close-small">&#10005;</button>
						<div class="tangent-popup-content"></div>
						<button class="close-tangent-popup close-large">Close</button>
					</div>
				</div>
			</div>
		</script>


		<script type="text/template" id="template-birth">
			<div class="page page-birth">
				<div class="chapter-title full-screen">
					<div class="centre">
						<h2 class="chapter">- Chapter 1 -</h2>
						<h1 class="title">Birth</h1>
						<button class="play circle">&#9656;</button>
					</div>
				</div>
				<div class="under-title full-screen">
					<div class="centre">

						<div class="video-container">
							<video src="video/FireSmoke.mp4" class="main-video">
								Your browser doesn't support embedded videos,
								but you can still<a href="video/FireSmoke.mp4">download it</a>.
							</video>
						</div>
					</div>

					<div class="subtitles" id="subtitles"></div>
					
					<div class="tangents tangent-items"></div>
				</div>
				<div class="end-video full-screen">
					<div class="centre">
						<nav>
							<button class="replay circle" title="Replay">&#8635;</button>
							<button class="next circle" title="Continue">&rarr;</button>
						</nav>
						<div class="end-tangents">
							<h3>More info on</h3>
							<ul class="tangent-items"></ul>
						</div>
					</div>
				</div>
				<div class="tangent-popup full-screen">
					<div class="cover full-screen close-tangent-popup"></div>
					<div class="box centre">
						<button class="close-tangent-popup close-small">&#10005;</button>
						<div class="tangent-popup-content"></div>
						<button class="close-tangent-popup close-large">Close</button>
					</div>
				</div>
			</div>
		</script>

		<script type="text/template" id="template-journey">
			<div class="page page-journey">
				<div class="chapter-title full-screen">
					<div class="centre">
						<h2 class="chapter">- Chapter 2 -</h2>
						<h1 class="title">Journey</h1>
						<button class="play circle">&#9656;</button>
					</div>
				</div>
				<div class="under-title full-screen">
					<div class="centre">

						<div class="video-container">
							<video controls src="video/FireSmoke.mp4" class="main-video">
								Your browser doesn't support embedded videos,
								but you can still<a href="video/FireSmoke.mp4">download it</a>.
							</video>
						</div>
					</div>

					<div class="subtitles" id="subtitles"></div>
					
					<div class="tangents tangent-items"></div>
				</div>
				<div class="end-video full-screen">
					<div class="centre journey-box">

						<div class="background"></div>
						
						<!-- <div style="position: absolute; left: 50%; height: 100%; width: 1px; background-color: blue;"></div> -->

						<div class="journey-bottom">
							<p>Distances, sizes and speed to scale.</p>
							<p>Use the <strong>buttons</strong> or <strong>mouse wheel</strong> to zoom</p>
							<p>Use the <strong>scroll bar</strong> or <strong>click and drag</strong> to pan</p>
						</div>

						<div class="ruler">
							<div class="middle-line"></div>
							<div class="ruler-text">
								<span class="number km">149,500,000</span> <span class="measure km">km</span>
								&nbsp; - &nbsp;
								<span class="number light-value">8.3</span> <span class="measure light-measure">Light minutes</span>
							</div>
						</div>

						<div class="container">
							<div class="space no-select">
								<div class="background"></div>
								
								<!-- <div style="position: absolute; left: 50%; height: 100%; width: 1px; background-color: red;"></div> -->
								
								<div class="padding">
									<div class="body light"><img src="images/spacer.gif" alt="Pillar" class="pillar" /></div>
									<div class="body sun">
										<img src="images/spacer.gif" alt="Pillar" class="pillar" />
										<div class="label no-select">
											<div class="text">Sun</div>
											<div class="arrow">&darr;</div>
										</div>
										<div class="details cf">
											<div class="data">
												Radius: <span class="value">695,800 <span class="measure">km</span></span>
											</div>
											<div class="data">
												Mass: <span class="value">1.989E30 <span class="measure">kg</span></span>
											</div>
											<div class="data">
												Surface temperature: <span class="value">5504.85 <span class="measure">°C</span></span>
											</div>
										</div>
									</div>
									<div class="body mercury">
										<img src="images/spacer.gif" alt="Pillar" class="pillar" />
										<div class="label no-select">
											<div class="text">Mercury</div>
											<div class="arrow">&darr;</div>
										</div>
										<div class="details cf">
											<div class="data">
												Radius: <span class="value">2,440 <span class="measure">km</span></span>
											</div>
											<div class="data">
												Mass: <span class="value">328.5E21 <span class="measure">kg</span></span>
											</div>
											<div class="data">
												Distance from Sun: <span class="value">57,910,000 <span class="measure">km</span></span>
											</div>
										</div>
									</div>
									<div class="body venus">
										<img src="images/spacer.gif" alt="Pillar" class="pillar" />
										<div class="label no-select">
											<div class="text">Venus</div>
											<div class="arrow">&darr;</div>
										</div>
										<div class="details cf">
											<div class="data">
												Radius: <span class="value">6,052 <span class="measure">km</span></span>
											</div>
											<div class="data">
												Mass: <span class="value">4.867E24 <span class="measure">kg</span></span>
											</div>
											<div class="data">
												Distance from Sun: <span class="value">108,200,000 <span class="measure">km</span></span>
											</div>
										</div>
									</div>
									<div class="body moon">
										<img src="images/spacer.gif" alt="Pillar" class="pillar" />
										<div class="label no-select">
											<div class="text">Moon</div>
											<div class="arrow">&darr;</div>
										</div>
										<div class="details cf">
											<div class="data">
												Radius: <span class="value">1,737 <span class="measure">km</span></span>
											</div>
											<div class="data">
												Mass: <span class="value">7.3477E22 <span class="measure">kg</span></span>
											</div>
											<div class="data">
												Distance to Earth : <span class="value">384,400 <span class="measure">km</span></span>
											</div>
										</div>
									</div>
									<div class="body earth">
										<img src="images/spacer.gif" alt="Pillar" class="pillar" />
										<div class="label no-select">
											<div class="text">Earth</div>
											<div class="arrow">&darr;</div>
										</div>
										<div class="details cf">
											<div class="data">
												Radius: <span class="value">6,371 <span class="measure">km</span></span>
											</div>
											<div class="data">
												Mass: <span class="value">5.972E24 <span class="measure">kg</span></span>
											</div>
											<div class="data">
												Distance from Sun: <span class="value">149,500,000 <span class="measure">km</span></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="controls cf">
							<button class="journey-play">
								<i class="fa fa-pause" title="Pause"></i>
								<i class="fa fa-play" title="Play"></i>
							</button>
							<input type="range" name="time-slider" id="time-slider" class="time-slider" min="0" max="1000" step="1" />
							<div class="zoom">
								Zoom:
								<button class="zoom-in">+</button>
								<button class="zoom-out">-</button>
								<div class="zoom-value">100%</div>
							</div>
							<div class="time-value">0:00</div>
						</div>
					</div>
					<nav>
						<button class="replay circle" title="Replay">&#8635;</button>
						<button class="next circle" title="Continue">&rarr;</button>
					</nav>
				</div>
				<div class="tangent-popup full-screen">
					<div class="cover full-screen close-tangent-popup"></div>
					<div class="box centre">
						<button class="close-tangent-popup close-small">&#10005;</button>
						<div class="tangent-popup-content"></div>
						<button class="close-tangent-popup close-large">Close</button>
					</div>
				</div>
			</div>
		</script>


		<!-- Tangent Button -->
		<script type="text/template" id="template-tangent">
			<img src="images/icon-<%- icon %>.png" alt="<%- moreInfoOn %>"><span class="text" style="width: 0px;">More info on <span class="topic"><%- moreInfoOn %></span></span>
		</script>

		<!-- Tangent Popup Content -->
		<script type="text/template" id="template-tangent-popup-content">
			<h2 class="title">
				<img src="images/icon-<%- icon %>.png" alt="<%- moreInfoOn %>" />
				<%= title %>
			</h2>
			<div class="text-content cf">
				<%= html %>
			</div>
		</script>


		<!-- Tangent Templates -->


		<script type="text/template" id="tangent-theorised">
			<p>In the context of science, to "theorise" means to form an explanation, backed by evidence, gathered from extensive scientific method and repeated observation and experimentation.</p>
		</script>

		<script type="text/template" id="tangent-elementary-particles">
			<p>Also called fundamental particles, elementary particles are the smallest particles known to science. Quarks, a type of elementary particle, are combined to form protons and neutrons (subatomic particles). Then, along with some electrons, they form the structure of a single atom.</p>
			<p>Elementary particles have an unknown substructure, which means we are unsure if they themselves are made up of even smaller particles.</p>
			<p>Here are all the, currently known, elementary particles:</p>
			<a href="http://commons.wikimedia.org/wiki/File:Standard_Model_of_Elementary_Particles.svg" target="_blank">
				<img src="images/Standard_Model_of_Elementary_Particles.svg.png" alt="Elementary Particles" class="align-centre white padding" />
			</a>
		</script>

		<script type="text/template" id="tangent-fundamental-forces">
			<p>The fundamental forces, also called the fundamental interactions or interactive forces, are the interactions between physical things in the universe down to its most basic form. They are as follows:</p>
			<ul>
				<li>Gravitation</li>
				<li>Weak nuclear</li>
				<li>Electromagnetic</li>
				<li>Strong nuclear</li>
			</ul>
			<p>Gravity is the attractive force between all bodies of mass in the universe. The weak nuclear force is responsible for nuclear fission and radioactive decay. The electromagnetic force is involved with the interaction of electrically charged particles in the form of electromagnetic fields, like magnetic fields and light. The strong nuclear force holds together the nucleus of atoms.</p>
			<p>Gravity is the weakest of the four, but due to its infinite range, is the only one that matters on large scales.</p>
		</script>

		<script type="text/template" id="tangent-double-slit">
			<p>The famous double-slit experiment demonstrates how light and other quantum particles can behave like waves and particles. The animation below explains the basic principles:</p>

			<video src="video/Double Slit.mp4" controls>
				Your browser doesn't support embedded videos,
				but you can still<a href="video/Double Slit.mp4">download it</a>.
			</video>

			<p>When firing a sequence of photons individual through...</p>

			<ul>
				<li>A single slit, a single band of light is projected on the screen, acting much like particles</li>
				<li>A double slit, an interference pattern is produced, like that of two waves</li>
				<li>A double slit with a detector, a double band pattern is projected, as if they are particles, not waves</li>
			</ul>

			<p>Wave interference patterns are formed when the waves from each slit collide and their peaks and troughs cancel each other out. It is as if each photon is going through both slits at the same time and colliding with itself.</p>

			<p><strong>It appears that the photons change their behaviour, simply by being observed (detecting which slit they go through).</strong></p>
		</script>

		<script type="text/template" id="tangent-wavelength-frequency">
			<p>The wavelength and frequency of a wave are correlated; as the wavelength increases, the frequency decreases.</p>
			<img src="images/Wavelength.gif" alt="Wavelength" />
			<p>Because the wavelengths involved in the electromagnetic spectrum are so broad, many units of measurement are used, from nanometres to kilometres.</p>
			<img src="images/Frequency.gif" alt="Frequency" />
			<p>Frequency is measured in hertz and is calculated by counting the amount of wave peaks to pass a point in one second.</p>
		</script>

	</div>

	<script type="text/javascript" src="js/realshadow-min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>

	<noscript>JavaScript needs to be enabled to view the content of this page.</noscript>
</body>
</html>